<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
    <link href="~/layuiadmin/style/admin.css" rel="stylesheet" />
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-form layui-form-pane layui-card-header layuiadmin-card-header-auto">
                <div class="layui-form-item">
                    <div class="layui-row">
                        <div class="layui-col-md4 layui-col-md4 layui-col-md4">
                            <label class="layui-form-label">Group</label>
                            <div class="layui-input-inline">
                                <select name="group" id="group" lay-filter="group"></select>
                            </div>
                        </div>
                        <div class="layui-col-md4 layui-col-md4 layui-col-md4">
                            <label class="layui-form-label">Host</label>
                            <div class="layui-input-inline">
                                <select name="host" id="host" lay-filter="host"></select>
                            </div>
                        </div>
                        <div class="layui-col-md4 layui-col-md4 layui-col-md4">
                            <label class="layui-form-label">Application</label>
                            <div class="layui-input-inline">
                                <select name="application" id="application" lay-filter="application"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-row">
                        <div class="layui-col-md4 layui-col-md4 layui-col-md4">
                            <label class="layui-form-label">Item</label>
                            <div class="layui-input-inline">
                                <select name="item" id="item" lay-filter="item"></select>
                            </div>
                        </div>
                        <div class="layui-col-md4 layui-col-md4 layui-col-md4">
                            <div class="layui-input-inline">
                                <button class="layui-btn layui-btn-fluid" lay-submit="" lay-filter="save">Save</button>
                            </div>
                        </div>
                        <div class="layui-col-md4 layui-col-md4 layui-col-md4">
                            <div class="layui-inline">
                                <label class="layui-form-label">Custom range</label>
                                <div class="layui-input-inline">
                                    <input type="text" class="layui-input" id="range" placeholder=" - ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-card">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12 layui-col-md12 layui-col-md12">
                    <div class="charts" id="charts" style="height:400px;"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/jquery-2.1.1.min.js"></script>
    <script src="~/layuiadmin//layui/layui.js"></script>
    <script src="~/js/echarts.min.js"></script>
    <script>
        layui.use(['form', 'layer','laydate'], function () {
            var form = layui.form
                , layer = layui.layer
                , laydate = layui.laydate;

            $('.layui-form-item .layui-form-label').css("width", "auto");
            let chartsName = "";
            let itemName = "";
            let itemid = 0;
            let hasData = false;
            let loading = {};
            let theme = 'shine';
            let charts = echarts.init(document.getElementById("charts"));
            renderCharts([]);
            $.getJSON('/js/themes/' + theme + '.json', function (result) {
                echarts.registerTheme(theme, result.theme);
                loading = result.loading;
            });

            $.getJSON("/api/Zabbix/hostgroup", function (data) {
                var options = "<option value=\"\"></option>";
                for (var i = 0; i < data.result.length; i++) {
                    options += "<option value=\"" + data.result[i].groupid + "\">" + data.result[i].name + "</option>";
                }
                $('#group').html(options);
                form.render('select');
            });

            laydate.render({
                elem: '#range'
                , type: 'datetime'
                , range: true,
                done: function (value) {
                    charts.showLoading(loading);
                    if (itemName == "" || !hasData) {
                        return false
                    }
                    var time = value.split(' - ');
                    var time_from = time[0];
                    var time_till = time[1];
                    var url = "/api/Zabbix/history?itemids=" + itemid + "&time_from=" + time_from + "&time_till=" + time_till;
                    getData(url);
                }
            });

            form.on('select(group)', function (data) {
                chartsName = $(this).text();
                $.getJSON("/api/Zabbix/host?groupids=" + data.value, function (data) {
                    var options = "<option value=\"\"></option>";
                    for (var i = 0; i < data.result.length; i++) {
                        options += "<option value=\"" + data.result[i].hostid + "\">" + data.result[i].name + "</option>";
                    }
                    $('#host').html(options);
                    form.render('select');
                });
            });
            form.on('select(host)', function (data) {
                chartsName += "_" + $(this).text();
                $.getJSON("/api/Zabbix/application?hostids=" + data.value, function (data) {
                    var options = "<option value=\"\"></option>";
                    for (var i = 0; i < data.result.length; i++) {
                        options += "<option value=\"" + data.result[i].applicationid + "\">" + data.result[i].name + "</option>";
                    }
                    $('#application').html(options);
                    form.render('select');
                });
            });
            form.on('select(application)', function (data) {
                chartsName += "_" + $(this).text();
                $.getJSON("/api/Zabbix/item?applicationids=" + data.value, function (data) {
                    var options = "<option value=\"\"></option>";
                    for (var i = 0; i < data.result.length; i++) {
                        var name = data.result[i].name;
                        if (name.indexOf('$') >= 0) {
                            var key = data.result[i].key_;
                            var keys = key.match(/\[(.+?)\]/g)[0].replace("[", "").replace("]", "").split(',');
                            for (var j = 0; j < keys.length; j++) {
                                name = name.replace("$" + (j + 1), keys[j]);
                            }
                        }
                        options += "<option value=\"" + data.result[i].itemid + "\">" + name + "</option>";
                    }
                    $('#item').html(options);
                    form.render('select');
                });
            });
            form.on('select(item)', function (data) {
                itemName = $(this).text();
                chartsName += "_" + itemName;
                charts.showLoading(loading);

                itemid = data.value;

                var url = "/api/Zabbix/history?itemids=" + itemid;
                getData(url);
            });

            form.on('submit(save)', function (data) {
                if (itemName != "" && hasData) {
                    var time = $('#range').val().split(' - ');
                    var itemid = data.field.item;
                    var time_from = time[0] || "";
                    var time_till = time[1] || "";
                    var charts = {};
                    charts.itemId = itemid;
                    charts.timeFrom = time_from;
                    charts.timeTill = time_till;
                    charts.itemName = itemName;
                    charts.chartsName = chartsName;
                    $.ajax({
                        type: "post",
                        url: "/api/Charts/add_charts",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: JSON.stringify(charts),
                        success: function (result) {
                            if (result.code == 0) {
                                layer.msg(result.msg, {
                                    icon: 1,
                                    time: 1000
                                }, function () {
                                    window.location.reload();
                                });
                            } else {
                                layer.msg(result.msg, {
                                    icon: 5,
                                    time: 1000
                                });
                            }
                        }
                    });
                } else {
                    layer.msg("无监控数据，不可保存");
                }
                return false;
            });

            function getData(url) {
                $.getJSON(url, function (data) {
                    if (data.result.length > 0) {
                        hasData = true;
                    }
                    renderCharts(data.result, itemName);
                });
            }

            function renderCharts(data, itemName) {
                let option = {
                    backgroundColor:'#fff',
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data: [itemName]
                    },
                    xAxis: {
                        data: data.map(function (item) {
                            return format(item.clock);
                        })
                    },
                    yAxis: {
                        splitLine: {
                            show: false
                        }
                    },
                    series: {
                        name: itemName,
                        type: 'line',
                        data: data.map(function (item) {
                            return item.value;
                        })
                    }
                }

                charts.setOption(option);
                charts.hideLoading();
            }

            function format(unix) {
                var time = new Date(unix * 1000);
                var y = time.getFullYear();
                var m = time.getMonth() + 1;
                var d = time.getDate();
                var h = time.getHours();
                var mm = time.getMinutes();
                var s = time.getSeconds();
                return m + '/' + d + ' ' + h + ':' + mm;
            }

            window.addEventListener("resize", function () {
                charts.resize();
            });
        });
    </script>
</body>
</html>