<!DOCTYPE html>
<html>
<head>
    <title>智能监控系统</title>
</head>
<body>
    <p>欢迎您：@User.Identity.Name !</p>
    <a href="@Url.Action("Back", "Home")">进入后台</a>
    <a href="@Url.Action("Logout", "Account")">退出</a>
</body>
</html>