<!DOCTYPE html>
<html>
<head>
    <title>登录-联诺智能监控系统</title>
    <link href="~/css/login.min.css" rel="stylesheet" />
</head>
<body>
    <div id="particles-js">
        <form id="login" onsubmit="return false" method="post" class="login">
            <div class="login-top">登录</div>
            <div class="login-center clearfix">
                <div class="login-center-img"><img src="~/imgs/name.png" /></div>
                <div class="login-center-input">
                    <input type="text" name="username" placeholder="请输入您的用户名" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的用户名'" />
                    <div class="login-center-input-text">用户名</div>
                </div>
            </div>
            <div class="login-center clearfix">
                <div class="login-center-img"><img src="~/imgs/password.png" /></div>
                <div class="login-center-input">
                    <input type="password" name="password" placeholder="请输入您的密码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的密码'" />
                    <div class="login-center-input-text">密码</div>
                </div>
            </div>
            <div class="login-button">登录</div>
        </form>
        <div class="sk-rotating-plane"></div>
    </div>
    <script src="~/js/jquery-2.1.1.min.js"></script>
    <script src="~/js/particles.min.js"></script>
    <script src="~/layuiadmin/layui/layui.js"></script>
    <script src="~/js/login.min.js"></script>
</body>
</html>