<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Users</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
    <link href="~/layuiadmin/style/admin.css" rel="stylesheet" />
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-block">
                            <input type="text" name="username" placeholder="请输入" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-user-front-search">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                        <button class="layui-btn layuiadmin-btn-useradmin" data-type="add">
                            <i class="layui-icon layui-icon-add-1 layuiadmin-button-btn"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="layui-card-body">
                <table id="LAY-user-manage" lay-filter="LAY-user-manage"></table>
                <script type="text/html" id="table-useradmin-webuser">
                    {{#  if(@ViewData["Id"] == 10000){ }}
                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
                    {{#  } else { }}
                    {{#  if(d.id == @ViewData["Id"]){ }}
                    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                    {{#  } else { }}
                    <a class="layui-btn layui-btn-normal layui-btn-disabled layui-btn-xs"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                    {{#  } }}
                    <a class="layui-btn layui-btn-danger layui-btn-disabled layui-btn-xs"><i class="layui-icon layui-icon-delete"></i>删除</a>
                    {{#  } }}
                </script>
            </div>
        </div>
    </div>
    <script src="~/layuiadmin//layui/layui.js"></script>
    <script>
        layui.config({
            base: '../layuiadmin/'
        }).extend({
            index: 'lib/index'
        }).use(['index', 'useradmin', 'table'], function () {
            var $ = layui.$
                , form = layui.form
                , table = layui.table;
            form.on('submit(LAY-user-front-search)', function (data) {
                var field = data.field;
                table.reload('LAY-user-manage', {
                    where: field
                });
            });
            var active = {
                add: function () {
                    layer.open({
                        type: 2
                        , title: '添加用户'
                        , content: 'userform.html'
                        , maxmin: true
                        , area: ['500px', '450px']
                    });
                }
            };
            $('.layui-btn.layuiadmin-btn-useradmin').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        });
    </script>
</body>
</html>