html,
body {
    height: 100%;
    font-family: "微软雅黑";
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    background-image: url(../imgs/background-1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000;
}

.main {
    height: 100%;
}

.nav {
    width: 100%;
    height: 50px;
}

.nav-header {
    float: left;
}

.nav-header-brand {
    margin-left: 15px;
}

.nav-header-brand img {
    height: 40px;
    margin-top: 5px;
}

.nav-title {
    font-size: 22px;
    font-weight: 900;
    line-height: 50px;
    margin: 0 auto;
    width: 180px;
}

.nav-time {
    float: right;
    line-height: 50px;
    font-weight: 900;
    margin-right: 15px;
}

.nav-time span {
    padding-left: 15px;
}

.nav-time span:nth-child(1), .nav-time span:nth-child(2) {
    cursor: pointer;
}

.nav-menu {
    width: 100%;
    height: 100%;

}

.user {
    padding-bottom: 50px;
}

.user p {
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    padding-top: 40px;
}

.theme {
    width: 150px;
    margin: 0 auto;
}

.theme a{
    cursor:pointer;
}

.theme-plan-group {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: auto;
    height: 20px;
    overflow: hidden;
    border: 1px solid #eee;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 8px;
}

.theme-plan-color {
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block;
    border-radius: 3px;
}

.content {
    width: 100%;
    position: absolute;
    top: 50px;
    bottom: 0px;
    left: 0px;
}

.charts {
    text-align: center;
    line-height: 300px;
}

.dad-noSelect, .dad-noSelect * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: -webkit-grabbing !important;
    cursor: -moz-grabbing !important;
}

.dad-container {
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dad-container::after {
    content: '';
    clear: both !important;
    display: block;
}

.dad-active .dad-draggable-area {
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.dads-children-clone {
    opacity: 0.8;
    z-index: 9999;
    pointer-events: none;
}

.dads-children-placeholder {
    overflow: hidden;
    position: absolute !important;
    box-sizing: border-box;
    border: 4px dashed #639BF6;
    margin: 5px;
    text-align: center;
    color: #639BF6;
    font-weight: bold;
}